<!DOCTYPE html>

{%  load staticfiles  %}

<html>

    <head>
        <title>About</title>
    </head>

    <body>
        <h1>About...</h1>
        <div>
            This tutorial has been put together by <br/>
            <strong>{{ myName }}</strong><br/><br/>
        </div>

        <div></div>
            <img src="{% static "images/rango-quad.jpg" %}"
                 alt="Picture of Rango and a Fish" /><br/><br/>
         </div>
        <div>
           <p style="color:DarkRed;">Oh... and this is a cat:</p>
              <img src="{{ MEDIA_URL }}cat.jpg"
                   alt="Picture of Marty the Cat" /><br/><br/>
        <a href="/rango/">Back to main page</a><br />
        </div>
    </body>

</html>